.payment {
  background-color: white;
  &__container {
    & > h1 {
      text-align: center;
      padding: 10px;
      font-weight: 400;
      background-color: rgb(234,237,237);
      border-bottom: 1px solid lightgray;

      & a{
          text-decoration: none;
      }
    }
  }

  &__section {
      display: flex;
      padding: 20px;
      margin: 0 20px;
      border-bottom: 1px solid lightgray;
  }

  &__title {
      flex: 0.2;
  }

  &__address, &__items,&__details {
      flex: 0.8;
  }
}
